*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Oswald', sans-serif;
}

html,body{
	height: 100%;
}



.container{
	width: 100%;
	max-width: 2400px;
	margin:0 auto;
}

.clear{
	clear: both;
}

header{
	padding:20px 2% 35px 2%;
	height: 130px;
}

header div.logo{
	float: left;
}

header nav.desktop{
	float: right;
	position: relative;
	top:40px;
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.desktop ul li{
	float: left;
	font-size: 23px;
	padding:0 30px;
	font-style: italic;
}

header nav.desktop a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

section{
	padding:90px 2%;
	background-color: #000000;
}


.section {
display: flex;
justify-content: center;
align-items: center;
background-color: black;
height: 350px;
margin: 0;
}

.tituloo{
    clear: left;
    text-align: center;
}

.arearm{
    width: 91%;
    text-align: justify;
    margin: auto;
	color: #ffffff;
}

.arearm p{
	margin-top: 75px;
}

.css{
display: flex;   
justify-content: center;
align-items: center;
}

.css img {
max-width: 100%;
margin: 0 25%;
height: 70%;
width: 250px;
border: 3px solid red;
padding: 5px;
}

.section2 {
	display: flex;
	align-items: center;
	background-color: black;
	height: 40px;
	margin-top: 0px;
	}

.info-carro h2{
	padding-left: 8px;
	color: rgb(255, 255, 255);
	font-style: italic;
	font-size: 20px;
	margin-top: 0px;
	margin-left: 150px;
}

.info-carro p{
	margin-top: 0px;
	margin-left: 150px;
	color: #ffffff;
	font-size: 15px;
	font-style: italic;
	margin-top: 5px;
}
.btn1{
	text-align: center;
	display: block;
	line-height: 40px;
	background-color:#EB2D2D;
	text-decoration: none;
	border-bottom: 5px solid #B21E1E;
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
	margin-top: 5px;
	margin-left: 150px;
}

.info-carro2 h2{
	padding-left: 8px;
	color: rgb(255, 255, 255);
	font-style: italic;
	font-size: 20px;
	margin-top: 0px;
	margin-left: 380px;
}

.info-carro2 p{
	margin-top: 0px;
	margin-left: 150px;
	color: #ffffff;
	font-size: 15px;
	font-style: italic;
	margin-left: 380px;
}
.btn2{
	text-align: center;
	display: block;
	line-height: 40px;
	background-color:#EB2D2D;
	text-decoration: none;
	border-bottom: 5px solid #B21E1E;
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
	margin-top: 5px;
	margin-left: 380px;
}

.info-carro3 h2{
	padding-left: 8px;
	color: rgb(255, 255, 255);
	font-style: italic;
	font-size: 20px;
	margin-top: 5px;
	margin-left: 380px;
}

.info-carro3 p{
	margin-top: 0px;
	margin-left: 150px;
	color: #ffffff;
	font-size: 15px;
	font-style: italic;
	margin-left: 380px;
}
.btn3{
	text-align: center;
	display: block;
	line-height: 40px;
	background-color:#EB2D2D;
	text-decoration: none;
	border-bottom: 5px solid #B21E1E;
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
	margin-top: 5px;
	margin-left: 380px;
}

/*


{
 float: center;
 width: 15%;
 border: 5px solid red;
 padding: 15px;
 max-width: 100%;
 margin: 0 10px;
}


*/

footer{
	margin-top:20px;
	padding:40px 2%;
	background: #ffffff;
}

footer nav{
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer nav ul li{
	float: left;
	font-style: italic;
	padding:0 35px;
	font-size: 19px;
}

footer nav ul a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

footer p{
	float: right;
	color: rgb(0, 0, 0);
	font-size: 19px;
	font-style: italic;
}

.css img:hover {
	transform: scale(1.1); 
	border-color: #e21887; 
}

.btn1:hover{
	transform: scale(1.1); 
	background-color: #e21887;
}

.btn2:hover{
	transform: scale(1.1); 
	background-color: #e21887;
}

.btn3:hover{
	transform: scale(1.1); 
	background-color: #e21887;
}

